@import "./variables";
.model{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        color: $white-color;
        margin-bottom: 40px;
    }
    .model-content{
        position: relative;
        .model-tooltip1{
            position: absolute;
            bottom:220px;
            left: 105px;
        }
        .model-tooltip2{
            position: absolute;
            bottom:310px;
            left: 300px;
        }
        .model-tooltip3{
            position: absolute;
            bottom: 140px;
            left: 230px;
        }
        .model-tooltip4{
            position: absolute;
            bottom: 70px;
            left: 35px;
        }
        .model-img{
            width: 350px;
        }
    }
}
.model-tooltip-text{
    background: $gradient-color;
    padding: 6px 12px;
    border-radius: 64px;
    color: white;
    font-size: $small-font-size;
    font-weight: $font-medium;
    position: absolute;
    white-space: nowrap;
    transform: translate(-1px, -10px);
  }
  @media screen and (max-width:700px) {
    .model-content{
        margin-right: 80px;
    }
    .modell-tool{
        width: 60px;
    }
    .model-img{
        width: 200px !important;
    }
    .model-tooltip-text{
        font-size: 10px;
        padding: 8px;
    }
    .model-content{
        position: relative;
        .model-tooltip1{
            position: absolute;
            bottom:110px !important;
            left: 52px !important;
            
        }
        .model-tooltip2{
            position: absolute;
            bottom:170px !important;
            left: 130px !important;
        }
        .model-tooltip3{
            position: absolute;
            bottom:75px !important;
            left:170px !important;
        }
        .model-tooltip4{
            position: absolute;
            bottom: 50px !important;
            left:5px !important;
        }
       
    }
  }